# Python cache and compiled files
__pycache__/
*.py[cod]
*.so
# Virtual environments
venv/
env/
# Distribution / packaging
build/
dist/
*.egg-info/
# Django specific
*.log
local_settings.py
db.sqlite3
# Media and static files (if generated locally)
media/
staticfiles/
# Environment variables
env
# IDE/editor settings
idea/
.idea/
vscode/
*.sublime-*
*.swp
*.swo
# OS-specific files
DS_Store
Thumbs.db