{% extends 'base.html' %}
<h3>Caracteristicas: </h3>
<ul>
  {% for caracteristica in cabania.caracteristicas.all %}
  <li>{{ caracteristica.nombre }}</li>
  {% empty %}
  <li>CARACTERISTICAS NO ESPECIFICADAS</li>
  {% endfor %}
</ul>
<hr>


{% block listar_cabanias %}
<main>
  <section class="pt-5 text-center container">
    <div class="row pt-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album example</h1>
        <p class="lead text-body-secondary">
          Something short and leading about the collection below—its
          contents, the creator, etc. Make it short and sweet, but not too
          short so folks don’t simply skip over it entirely.
        </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
  <div class="album bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for cabania in cabanias %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="position-relative">
              <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img card-img-top" height="225"
                preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="45%" y="50%">
                  Thumbnail
                </text>
              </svg>
              <span class="position-absolute top-0 end-0 m-2 badge text-bg-warning fs-6">
                ${{ cabania.precio_por_noche }}/noche
              </span>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ cabania.nombre }}</h5>
              <p class="card-text">{{ cabania.descripcion }}</p>
              <p class="card-text">
                <span class="badge p-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">{{ cabania.capacidad_personas }} persona{% if cabania.capacidad_personas > 1 %}s{% endif %}</span>
                {% for caracteristica in cabania.caracteristicas.all %}
                  <span class="badge p-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">{{ caracteristica.nombre }}</span>
                {% endfor %}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'detalle_reserva' cabania.id %}" class="btn btn-sm btn-outline-secondary">Información</a>
                </div>
                <small class="text-body-secondary">+{{ cabania.reservas.count }} Reserva{% if cabania.reservas.count > 1%}s{% endif %}</small>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <p>EN ESTE MOMENTO NO HAY CABANIAS CARGADAS.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock listar_cabanias %}